<section class="choice">
    <div class="container choice__container">
        <div class="choice__content">
            <h1 class="choice__title common__title">Выберите <span class="common__title-span">тему теста</span></h1>
            <div class="choice__description">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
            <div class="choice__options" id="choice__options">
            </div>
        </div>
        <div class="choice__img">
            <img src="img/ChoiceImage.png" alt="Persons">
        </div>
    </div>
</section>
