

<section class="main">
    <div class="container main__container">
        <div class="main__content">
         <h1 class="big__title">Проверь свои знания JavaScript вместе с <span class="big__title-span">АйтилогияQuiz</span>!</h1>
            <div class="maim__description">Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!</div>
            <div class="main__btn">
                <a href="#/signup" class="btn">Начать тест</a>
            </div>
        </div>
        <div class="main-img">
            <img src="img/MainImage.png" alt="Главная картинка">
        </div>
    </div>
</section>
