.list{
    padding: 20px 0 ;
}
.container__list{
    position: relative;
}
.list__pre-title{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.pre-title{
    color: #DCDCF3;
    font-size: 20px;
    margin-right: 15px;
}
.name-test{
    color: #6933DC;
    font-size: 20px;
    margin-left: 15px;
}
.list__title{
    color: #333;
    font-family: "Museo Sans Cyrl Bold" ,sans-serif;
    font-size: 54px;
    margin: 0;
    padding-bottom: 60px;
}
.list__title-span{
    color: #6933DC;
}
.list__question{
    margin-bottom: 60px;
}
.name__question{
    color: #333;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 36px;
    padding-bottom: 20px;
}
.name__question-span{
    color: #6933DC;
}
.answer__option{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.answer__question{
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.answer-right{
    color: #5FDC33;
}
.answer-error{
    color: #DC3333;
}

.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    box-sizing: border-box;
    margin-right: 13px;
}
.circle-right{
    border: 6px solid #5FDC33;
}
.circle-error{
    border: 6px solid #DC3333;
}
.result__link{
    bottom: -60px;
}